.cashback {
  background-color: #83ac6e;
  color: white;

  padding-block: 120px;
}

.cashback-wrapper{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  padding-inline: 25px;
}

.cashback-img{
  width: 380px;
  height: 200px;
  background-color: white;
  padding-inline: 60px;
  border-radius: 20px;
  box-shadow: 12.945px 12.945px 41.423px 0px rgba(0, 0, 0, 0.25);
}

.cashback__text_wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cashback__text_tittle {
  font-family: Philosopher;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cashback__text_paragraph{
  font-family: "Nunito Sans";
  text-align: justify;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  max-width: 600px;
}

@media (max-width: 1250px) {
  .cashback-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .cashback__text_wrapper {
    gap: 24px;
  }
  .cashback__text_tittle {
    text-align: center;
  }
  .cashback__text_paragraph {
    text-align: center;
    margin: auto;
    width: auto;
  }
  .cashback-img {
    width: calc(100% -20px);
    padding-inline: 40px;
  }
}

@media (max-width: 490px) {
  .cashback-img {
    width: 350px;
    padding-inline: 20px;
  }
}

@media (max-width: 390px) {
  .cashback-img {
    width: 300px;
    padding-inline: 20px;
  }
}