.depoiments {
  background: #E8D9F4;
  padding-top: 100px;
  padding-bottom: 160px;

  overflow: hidden;
  position: relative;
}

.depoiments__container {
  position: relative;
  text-align: center;

  margin-bottom: 70px;
}

.depoiments__container-background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  white-space: nowrap;

  color: rgba(255, 255, 255, 0.15);

  text-align: center;
  font-family: Philosopher;
  font-size: 195.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.depoiments__container-tittle {
  color: #5A154C;
  text-align: center;
  font-family: Philosopher;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 113px;
}


.depoiments__carousel-track {
  display: flex;
  gap: 45px;
  transition: transform 0.5s ease-in-out;
}

.depoiments__carousel-card {
  min-width: 481.57px;

  padding-block: 30px;
  padding-left: 45px;
  padding-right: 30px;


  background-color: white;

  border-radius: 14.164px;
  border: 1.416px solid #83AC6E; 
  border-left: 9px #82AC6E solid;
  box-shadow: 8.779px 8.779px 28.094px 0px rgba(0, 0, 0, 0.25);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
}

.depoiments__carousel-paragraph {
  color: #5A154C;
  font-family: "Nunito Sans";
  font-size: 18.413px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.depoiments__corousel-wrapper-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.depoiments__carousel-person {
  color: #5A154C;
  font-family: "Nunito Sans";
  font-size: 18.413px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.depoiments__button-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;

  margin-top: 33px;
}

.depoiments__button {
  background: transparent;
  min-width: 30px;
}

@media (max-width: 1300px) {
  .depoiments__container-background-text {
    font-size: 120px;
  }

}


@media (max-width: 800px) {
  .depoiments__container-background-text {
    font-size: 70px;
  }
  .depoiments__container-tittle {
    color: #5A154C;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
  .depoiments__carousel-track {
    gap: 10px;
  }
  .depoiments__carousel-card {
    width: 143px;
  }
  .depoiments__carousel-card {
    min-width: 343px;
  }
  .depoiments__carousel-paragraph{
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }
}

@media (max-width: 450px) {
  .depoiments__container-background-text {
    font-size: 40px;
  }
}