.products {
  background-color: #83ac6e;
  color: #fff;

  padding-bottom: 70px;
  padding-inline: 25px;
  position: relative;
}

.products::before {
  content: "";
  position: absolute;
  top: -96px; /* Ajuste a posição vertical conforme necessário */
  left: 0;
  width: 100%;
  height: 200px; /* Ajuste a altura conforme necessário */
  background-color: #83ac6e; /* Deve ser igual ao fundo da seção */
  border-radius: 100%
}

.products-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

.products-title,
.products-paragraph,
.products__card-container,
.products-wrapper {
  position: relative;
  z-index: 1;
}

.products-title {
  color: #FFF;
  text-align: center;
  font-family: Philosopher;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-top: 80px;
  margin-bottom: 15px;
}

.products-paragraph {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;

  margin-bottom: 60px;
}

.flower {
  position: absolute;
  object-fit: cover;
  z-index: 0;
} 

.products__flower-right {
  right: 0;
  top: 50px;
  
}

.products__flower-left {
  left: 0;
  bottom: 0px;
}

.products__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 39px;
  
}

.products__card-container {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  border-radius: 20px;
  background: #FFF;
  padding-right: 43px;
  padding-left: 20px;
  padding: 20px 43px 20px 20px;
  box-shadow: 12.945px 12.945px 41.423px 0px rgba(0, 0, 0, 0.25);
}

.products__card-img {
  width: 365px;
  border-radius: 10px;
}

.products__card-wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 39px;
}

.products__card-title {
  color: #5A154C;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.products__card-circle{
  display: flex;
  gap: 11.5px;
  flex-wrap: wrap;
}

.products__card-circle-text {
  display: inline-block;
  padding-block: 1px;
  padding-inline: 8px;

  color: #83ac6e;
  border-radius: 9px;
  border: 2px #83ac6e solid;

  text-align: center;
  font-family: Poppins;
  font-size: 18.392px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.736px;
}

.products__card-paragraph {
  color: #5a154c;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.products__card-bottle-wrapper {
  display: flex;
  gap: 10px;
}

.products__card-bottle-wrapper img {
  width: 110px;
}	

.button-info {
  display: flex;
  width: 274.707px;

  padding: 17.707px 25.783px 16.188px 25.88px;
  justify-content: center;
  align-items: center;
  gap: 14.155px;
  flex-shrink: 0;

  border-radius: 11.805px;
  background: var(--d-9-d-9-d-9, #5a154c);
}

.products__footer {
  padding-bottom: 100px;
}

.products__footer-tittle {
  color: #FFF;
  text-align: center;
  font-family: Philosopher;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 39px;
}

.products__footer-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.products__footer-button {
  display: inline-flex;
  padding: 17.879px 26.93px 15.596px 27.398px;
  justify-content: center;
  align-items: flex-start;
  gap: 13.41px;
  border-radius: 11.92px;
  background: #5A154C;

  color: #FFF;
  font-family: Poppins;
  font-size: 25.527px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 950px) {
  .products__card-container {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  .products__card-img {
    width: 100%;
    object-fit: cover;
  }
  .products__footer-wrapper {
    flex-direction: column;
  }
  .products__card-circle-text {
    font-size: 16.287px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.651px;
  }
  .products__card-bottle-wrapper{
    justify-content: center;
  
  }
  .products__footer-tittle {
    font-size: 30px;
    line-height: 30px;
  }
  .products__card-title {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 37.5px; 
  }
  .products__card-paragraph {
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .products__card-circle {
    gap: 5px;
  }
  .products__footer-button {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .products__card-container {
    flex-direction: column;
    width: 90%;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .products__card-container {
    padding-inline: 17px;
  }
  .products__card-circle-text {
    padding-inline: 4px;
  } 
  .products__card-bottle-wrapper img {
    width: 80px;
  }
}